html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    text-align: center;
}

video{
    max-height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}